<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min'%>
  </head>
  <body>
    <%= yield :header%> 
    <div class="container" style="padding-top:60px">
    <%= yield %>
    </div>
  </body>
</html>
